<table class="table">
  <tbody>
    <tr>
      <td>Вид застежки</td>
      <td>{{ product.fastener_type }}</td>
    </tr>
      <tr>
      <td>Тип карманов</td>
      <td>{{ product.type_of_pockets }}</td>
    </tr>
      <tr>
      <td>Утеплитель</td>
      <td>{{ product.resolution }}</td>
    </tr>
      <tr>
      <td>Модель джинсов</td>
      <td>{{ product.model_jeans }}</td>
    </tr>
      <tr>
      <td>Страна-производитель</td>
      <td>{{ product.country_of_origin }}</td>
    </tr>
      <tr>
      <td>Пол</td>
      <td>{{ product.gender }}</td>
    </tr>
  </tbody>
</table>